{% extends "zinnia/skeleton.html" %}
{% load gpg %}

{% block title %}Key Signing Party: {{ object }}{% endblock %}

{% block style %}
<style>
    td, th { border: 1px solid black; min-width: 2em;}
    table { border-collapse: collapse; text-align: center; font-family: DejaVu Sans Monospace, monospace; }
    .r { background: red; } .g { background: green; }
</style>
{% endblock %}


{% block maincontent %}
    <h1>Key Signing Party: {{ object }}</h1>
    <p class="text-info">Est-ce que la clef de la ligne a signé la clef de la colonne ?</p>
    <br>
    <table>
        <tr>
            <td>clef</td><td>nom</td><td>N°</td>
            {% for k in object.keys.all %}<th>{{ forloop.counter }}</th>{% endfor %}
            <th>signer</th>
            <th>signed</th>
        </tr>
        {% for signer in object.keys.all %}
        <tr>
            <th>{{ signer.id }}</th>
            <th>{{ signer.name }}</th>
            <th>{{ forloop.counter }}</th>
            {% for sign in signer|signatures:object %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    <td></td>
                {% else %}
                    {% if sign %}
                        <td class="g">✔</td>
                    {% else %}
                        <td class="r">✘</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{ signer|signer:object }}</td>
            <td>{{ signer|signed:object }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Signatures : {{ object|stats }}</p>
    <p>Envoyez vos modifications avec:
        <pre>gpg --send-keys{% for key in object.keys.all %} {{ key.id }}{% endfor %}</pre>
    </p>
    {% if object.absents.exists %}
    <h3>Absents</h3>
    <p class="text-info">N’ont signé personne ou n’ont été signé par personne</p>
    <ol>{% for key in object.absents.all %}
        <li>{{ key }} ({{ key|signer:object|add:1 }} / {{ key|signed:object|add:1 }})</li>
    {% endfor %}</ol>
    {% endif %}
{% endblock %}
