{% extends "zinnia/skeleton.html" %}

{% block style %}
<style>
    .at:after { content: '@'; }
    .dot:after { content: '.'; }
</style>
{% endblock %}

{% block title %}Key Signing Parties{% endblock %}

{% block maincontent %}
    <h1>My Fingerprint</h1>

    <p class="text-info">(Main UIDs)</p>
    <pre>
pub   rsa4096/4653CF28 2013-11-24 [expire : 2018-11-23]
 Empreinte de la clef = 9B1A 7906 5D2F 2B80 6C8A  5A1C 7D2A CDAF 4653 CF28
 uid       [ultimate] Guilhem Saurel (Nim) &lt;guilhem<span class="at"></span>saurel.me&gt;
 uid       [ultimate] Guilhem Saurel (Nim) &lt;guilhem<span class="dot"></span>saurel<span class="at"></span>laas<span class="dot"></span>fr&gt;
 uid       [ultimate] Guilhem Saurel (Nim) &lt;guilhem<span class="dot"></span>saurel<span class="at"></span>gmail<span class="dot"></span>com&gt;
 sub   rsa4096/C5D1A4A2 2013-11-24 [expire : 2018-11-23]
    </pre>

    <h1>Key Signing Parties</h1>

    {% for object in object_list %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object }}</a></h2>
        <p>{{ object.detail }}</p>
    {% endfor %}
{% endblock %}
