{% extends "base.html" %}
{% load pgp_tables cache %}

{% block title %}Key Signing Party: {{ object }}{% endblock %}

{% block style %}
<style>
td, th { border: 1px solid black; min-width: 2em; white-space: nowrap; }
table { border-collapse: collapse; text-align: center; font-family: DejaVu Sans Monospace, monospace; }
.r { background: red; } .g { background: green; }
</style>
{% endblock %}

{% block content %}
{% cache 31536000 'ksp_detail' object.slug request.user.is_authenticated %}
<h1>Key Signing Party: {{ object }}</h1>
<p>{{ object.detail|safe }}{% if object.date %}, le {{ object.date }}{% endif %}.
<a href="{% url 'pgp_tables:graph' object.slug %}">Voir le Graphe</a></p>
<p class="text-info">Est-ce que la clef de la ligne a signé la clef de la colonne ? (Mise à jour chaque nuit)</p>
<br>
<table>
  <tr>
    <td>clef</td><td>nom</td><td>N°</td>
    {% for k in object.keys.all %}<th>{{ forloop.counter }}</th>{% endfor %}
    <th>signer</th><th>signed</th><th>creation</th><th>expiration</th><th>valid</th><th>algorithm</th><th>length</th>
    {% if request.user.is_authenticated %}<th>email</th>{% endif %}
    <th>comment</th>
  </tr>
  {% for signer in object.keys.all %}
  <tr>
    <th><a href="{% url 'pgp_tables:ksp_key' slug=object.slug key_id=signer.id %}">{{ signer.id }}</a></th>
    <th>{{ signer.name }}</th>
    <th>{{ forloop.counter }}</th>
    {% for sign in signer|signatures:object %}
    {% if forloop.counter == forloop.parentloop.counter %}
    <td></td>
    {% else %}
    {% if sign %}
    <td class="g">✔</td>
    {% else %}
    <td class="r">✘</td>
    {% endif %}
    {% endif %}
    {% endfor %}
    <td>{{ signer|signer:object }}</td>
    <td>{{ signer|signed:object }}</td>
    <td>{{ signer.creation }}</td>
    <td>{{ signer.expiration }}</td>
    <td>{{ signer.valid|yesno:"✔,✘" }}</td>
    <td>{{ signer.algorithm_name }}</td>
    <td>{{ signer.length }}</td>
    {% if request.user.is_authenticated %}<td>{{ signer.mail }}</td>{% endif %}
    <td>{{ signer.comment }}</td>
  </tr>
  {% endfor %}
</table>

<p>Envoyez vos modifications avec:
<pre>gpg --send-keys{% for key in object.keys.all %} {{ key.id }}{% endfor %}</pre>
</p>

{% if object.absents.exists %}
<h3>Absents</h3>
<p class="text-info">N’ont signé personne ou n’ont été signé par personne</p>
<ol>{% for key in object.absents.all %}
  <li><a href="{% url 'pgp_tables:ksp_key' slug=object.slug key_id=key.id %}">{{ key }}</a> ({{ key|signer:object|add:1 }} / {{ key|signed:object|add:1 }})</li>
  {% endfor %}</ol>
{% endif %}

<h3>Stats</h3>
{% with stats=object.stats %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ stats.0 }}" aria-valuemin="0" aria-valuemax="{{ stats.1 }}" style="width: {{ stats.2 }}%;">
    {{ stats.0 }} / {{ stats.1 }}: {{ stats.2 }}% Complete
  </div>
</div>
{% endwith %}

<canvas id="myChart" width="400" height="400"></canvas>

{% endcache %}
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [{% for label, count in object.algo_stats %}
            "{{ label }}",
            {% endfor %}
        ],
            datasets: [{
                data: [{% for label, count in object.algo_stats %} {{ count }},{% endfor %}],
                backgroundColor: ['#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'],
                hoverBackgroundColor: ['#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360']
            }]
    },
    options: {}
});
</script>

{% endblock %}
